@charset "UTF-8"

*{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #aff0ca , #7CAA8F);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(112, 56, 6, 70%);
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
    
}

h1 {
    color: #F23869;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(82, 18, 35, 0.45);
    ;
}

h2{
    color: #A6467A;
}
